.image-wrapper {
    position: relative;
    display: inline-block; /* Ensure it only wraps the image */
}

.image-wrapper_2 {
    position: relative;
    display: inline-block; /* Ensure it only wraps the image */
}

.image-wrapper_3 {
    position: relative;
    display: inline-block; /* Ensure it only wraps the image */
}

.image-wrapper_4 {
    position: relative;
    display: inline-block; /* Ensure it only wraps the image */
}

.image-wrapper::after {
    content: '';
    background-image: url('http://138.68.158.146/media/plane_clock_white.png'); /* Hover image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-wrapper_2::after {
    content: '';
    background-image: url('http://138.68.158.146/media/canceled_plane_white.png'); /* Hover image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-wrapper_3::after {
    content: '';
    background-image: url('http://138.68.158.146/media/17 (1).png'); /* Hover image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-wrapper_4::after {
    content: '';
    background-image: url('http://138.68.158.146/media/plane_swap_white.png'); /* Hover image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.home-hero {
    background-image: url("http://138.68.158.146/media/home_hero.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}

@media (max-width: 768px) {
    .home-hero {
        background-position: right 25%;
    }
}
